* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,255,255,1), rgba(206,236,255,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_20 {
  width: 100%;
  height: 56px;
  background: url("../images/v1_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_53 {
  width: 131px;
  height: 20px;
  background: url("../images/v1_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 24px;
  overflow: hidden;
}
.v1_51 {
  width: 20px;
  height: 20px;
  background: url("../images/v1_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_7 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 28px;
  font-family: Geist;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_133 {
  width: 124px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 1291px;
  overflow: hidden;
}
.v1_134 {
  width: 124px;
  height: 32px;
  background: url("../images/v1_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_135 {
  width: 124px;
  height: 32px;
  background: url("../images/v1_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_136 {
  width: 124px;
  height: 32px;
  background: url("../images/v1_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_137 {
  width: 124px;
  height: 32px;
  background: rgba(166,166,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_138 {
  width: 123px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_139 {
  width: 108px;
  height: 19px;
  background: url("../images/v1_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v1_140 {
  width: 108px;
  height: 19px;
  background: url("../images/v1_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_141 {
  width: 14px;
  height: 17px;
  background: url("../images/v1_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_142 {
  width: 14px;
  height: 17px;
  background: url("../images/v1_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_143 {
  width: 14px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_144 {
  width: 3px;
  height: 4px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 7px;
}
.v1_145 {
  width: 88px;
  height: 12px;
  background: url("../images/v1_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 20px;
  overflow: hidden;
}
.v1_146 {
  width: 10px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_147 {
  width: 6px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 11px;
}
.v1_148 {
  width: 6px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 18px;
}
.v1_149 {
  width: 8px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
}
.v1_150 {
  width: 6px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 38px;
}
.v1_151 {
  width: 6px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 46px;
}
.v1_152 {
  width: 7px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 56px;
}
.v1_153 {
  width: 3px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 65px;
}
.v1_154 {
  width: 6px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 69px;
}
.v1_155 {
  width: 3px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 77px;
}
.v1_156 {
  width: 6px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 81px;
}
.v1_157 {
  width: 55px;
  height: 5px;
  background: url("../images/v1_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 28px;
  overflow: hidden;
}
.v1_158 {
  width: 55px;
  height: 5px;
  background: url("../images/v1_158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_159 {
  width: 3px;
  height: 4px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_160 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
}
.v1_161 {
  width: 4px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 8px;
}
.v1_162 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 14px;
}
.v1_163 {
  width: 0px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
}
.v1_164 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 20px;
}
.v1_165 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 24px;
}
.v1_166 {
  width: 3px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
}
.v1_167 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 34px;
}
.v1_168 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 39px;
}
.v1_169 {
  width: 2px;
  height: 4px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
}
.v1_170 {
  width: 3px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
}
.v1_171 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 52px;
}
.v1_11 {
  width: 100%;
  height: 968px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 200px 0px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 1px;
  overflow: hidden;
}
.v5_184 {
  width: 100%;
  height: 692px;
  background: url("../images/v5_184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 0px;
  overflow: hidden;
}
.v5_188 {
  width: 292px;
  height: 32px;
  background: rgba(255,255,255,0.4000000059604645);
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 573px;
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  border-bottom-left-radius: 99px;
  border-bottom-right-radius: 99px;
  overflow: hidden;
}
.v5_189 {
  width: 14px;
  color: rgba(0,54,105,1);
  position: absolute;
  top: 6px;
  left: 12px;
  font-family: Geist;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_174 {
  width: 250px;
  color: rgba(0,54,105,1);
  position: absolute;
  top: 6px;
  left: 30px;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_3 {
  width: 96px;
  height: 96px;
  background: url("../images/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 671px;
  overflow: hidden;
}
.v1_9 {
  width: 100%;
  height: 128px;
  background: url("../images/v1_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 785px;
  color: linear-gradient(rgba(0,183,255,1), rgba(0,137,255,1));
  position: absolute;
  top: 0px;
  left: 327px;
  font-family: Geist;
  font-weight: Medium;
  font-size: 56px;
  opacity: 1;
  text-align: center;
}
.v1_50 {
  width: 187px;
  height: 84px;
  background: url("../images/v1_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 625px;
  overflow: hidden;
}
.v1_93 {
  width: 187px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_94 {
  width: 187px;
  height: 48px;
  background: url("../images/v1_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_95 {
  width: 187px;
  height: 48px;
  background: url("../images/v1_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_96 {
  width: 187px;
  height: 48px;
  background: url("../images/v1_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_97 {
  width: 187px;
  height: 48px;
  background: rgba(166,166,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_98 {
  width: 185px;
  height: 45px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v1_99 {
  width: 163px;
  height: 29px;
  background: url("../images/v1_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
  overflow: hidden;
}
.v1_100 {
  width: 163px;
  height: 29px;
  background: url("../images/v1_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_101 {
  width: 21px;
  height: 26px;
  background: url("../images/v1_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_102 {
  width: 21px;
  height: 26px;
  background: url("../images/v1_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_103 {
  width: 21px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
}
.v1_104 {
  width: 5px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
}
.v1_105 {
  width: 132px;
  height: 18px;
  background: url("../images/v1_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 30px;
  overflow: hidden;
}
.v1_106 {
  width: 15px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_107 {
  width: 9px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
}
.v1_108 {
  width: 9px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 27px;
}
.v1_109 {
  width: 13px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 42px;
}
.v1_110 {
  width: 10px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 57px;
}
.v1_111 {
  width: 10px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 69px;
}
.v1_112 {
  width: 11px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 85px;
}
.v1_113 {
  width: 5px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 97px;
}
.v1_114 {
  width: 10px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 104px;
}
.v1_115 {
  width: 5px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 116px;
}
.v1_116 {
  width: 9px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 122px;
}
.v1_117 {
  width: 82px;
  height: 7px;
  background: url("../images/v1_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 42px;
  overflow: hidden;
}
.v1_118 {
  width: 82px;
  height: 7px;
  background: url("../images/v1_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_119 {
  width: 5px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_120 {
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 7px;
}
.v1_121 {
  width: 7px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 13px;
}
.v1_122 {
  width: 4px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 21px;
}
.v1_123 {
  width: 1px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
}
.v1_124 {
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 30px;
}
.v1_125 {
  width: 4px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 36px;
}
.v1_126 {
  width: 5px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 42px;
}
.v1_127 {
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 52px;
}
.v1_128 {
  width: 4px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 58px;
}
.v1_129 {
  width: 3px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 67px;
}
.v1_130 {
  width: 4px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
}
.v1_131 {
  width: 4px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 78px;
}
.v1_48 {
  width: 166px;
  color: rgba(0,54,105,1);
  position: absolute;
  top: 64px;
  left: 10px;
  font-family: Geist;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.6000000238418579;
  text-align: center;
}
.v5_187 {
  width: 175px;
  height: 20px;
  background: url("../images/v5_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 892px;
  left: 632px;
  overflow: hidden;
}
.v5_182 {
  width: 70px;
  color: rgba(0,54,105,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Geist;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.6000000238418579;
  text-align: center;
}
.v5_185 {
  width: 89px;
  color: rgba(0,54,105,1);
  position: absolute;
  top: 0px;
  left: 86px;
  font-family: Geist;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.6000000238418579;
  text-align: center;
}
